html{
  background-image: url("map.jpg");
  background-size: cover;
  color: black;
}
.container{
  color: black;
  text-align: left;
  background-color: #e6e6e6;
  border: 3px solid black;
  margin: 20%;
  padding: 20px;
}
