html{
  background-image: url("map.jpg");
  background-size: cover;
  color: black;
}
.container{
  color: black;
  background-color: gray;
  opacity: 0.3;
  text-align: center;
  margin: auto;
  padding: 10px;
  border: 3px solid black;
}
